[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.16.0"
pymongo = "==3.11.3"
flask = "==1.1.2"
jinja2 = "<3.1.0"
itsdangerous = "==2.0.1"
markupsafe = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.10"
