[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "==1.8.2"
click = "==8.1.7"
dnspython = "==2.7.0"
flask = "==3.0.3"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.4"
markupsafe = "==3.0.1"
python-dotenv = "==1.0.1"
werkzeug = "==3.0.4"
pymongo = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.9"
