* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.exercise-title , .search-exercise-title {
    flex: 1;
    text-align: center;
    transform: translateX(-7%);
    font-size: 22px;
}

.exercise-container, .search-container {
    width: 320px; 
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-message p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.exercise-image {
    width: 100%;
    height: 180px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

button, input {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    font-size: 14px;
}

.exercise-description {
    margin-bottom: 5px;
}

.exercise-description p {
    font-size: 14px;
    line-height: 1.3;
}

.exercise-description a {
    font-size: 12px;
    color: #4CAF50;
}

.exercise-data {
    margin-bottom: 5px;
}

.exercise-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2px;
}

.exercise-item label {
    flex-grow: 1;
    font-size: 14px;
    margin-left: 20px;
}

.add-btn, .back-btn, .add-todo-btn, .exercise-save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.add-btn {
    flex: 0 0 15%;
    margin-bottom: 5px;
}

.back-btn {
    flex: 0 0 15%;
    margin-bottom: 5px;
}

.add-todo-btn {
    margin-bottom: 5px;
}

.exercise-data label {
    flex-grow: 1;
    font-size: 14px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 15px;
}

footer a {
    color: gray;
    text-decoration: none;
}