* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base-header {
    background-color: rgb(52, 186, 231);  /* Don't don't this file if you can, senestive */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: relative;
    height: 4rem;
}

/* Sign out link */
.signout-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 999;
}
.signout-link > button {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1.25rem;
}
.signout-link > button:hover{
    text-decoration: underline;
}

/* Components */
.back-link {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.back-link > button {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0rem 0.4rem;
}
.back-link > button:hover {
    opacity: 0.8;
}
.back-link > button > img {
    width: 1.5rem;
    height: 1.5rem;
}

/* Flash */
#flash-message-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1;
}
#flash-message-overlay > div {
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 0.5rem;
    width: 50%;
    height: 10rem;
    background-color: lightgray;
    border-radius: 0.4rem;
    color: black;
    font-size: 1.1rem;
}
#flash-message-overlay > div > ul {
    padding-left: 1.5rem;
}


.select-box-location,
.select-box-stage{
    width: 100%;
    position: relative;
}
.select-option{
    position: relative;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
.select-option input{
    width: 100%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    outline: 0 !important;
    padding: 0.5rem;
    box-sizing: border-box;
}
.select-option:after{
    content: "";
    border-top: 12px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
}
.content{
    background-color: #fff;
    position: absolute;
    color: #000;
    border-radius: 0.25rem;
    margin-top: 15px;
    width: 100%;
    z-index: 99999;
    padding: 20px;
    display: none;
}
.search input{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
.options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
}
.options li{
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 1px solid gray;
}
.options li:hover{
    background-color: #f2f2f2;
}
.select-box-location.active .content{
    display: block;
}
.select-box-stage.active .content{
    display: block;
}
.select-box-location.active .select-option:after{
    transform: rotate(-180deg);
}
.select-box-stage.active .select-option:after{
    transform: rotate(-180deg);
}


    