* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: hsl(0, 0%, 100%);
  display: flex;             
  align-items: center;        
  flex-direction: column; 
}

.main-container {
  text-align: left;
  font-size: 24px;
  padding-top: 20px;
}

h1 {
  font-weight: bold;
}

p#current-day {
  font-size: 40px; 
  margin-bottom: 60px;
}

.container, .container1 {
  max-width: 60%;
  margin: auto;
  width: 100%;
  height: auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container {
  background-color: #f8f9fa;
}

.container1 {
  background-color: #f8f9fa;
  text-align: left;
}

.unit {
  margin-left: -10px; 
  margin-right: 15px;
  font-weight: bold;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #6b63638c;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 10px;
}

.main1-container {
  text-align: center;
  font-size: 24px; 
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-in-box {
  margin-bottom: -10px;
  font-size: 30px; 
}

h3 {
  font-weight: normal; 
  font-size: 40px; 
}

.add-workout-container {
  margin-top: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6b63638c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  header{
    height: 50px;
  }
  footer{
    
    height: 50px;
    font-size: 10px;
    
  }
  footer a {
    padding: 5px;
  }
 .main-container h1{
  font-size: 40px;
  padding-left: 20px;
 }
 .main-container #current-day{
  font-size: 30px;
  padding-left: 20px;
  
 }
 .container{
  max-width: 80%;
  
 }
 .container .content-in-box{
  font-size: 20px;
  margin-bottom: -40px;
  
  
 }
.main1-container{
  font-size: 30px;
  padding-left: 20px;
}
 .container1{
  max-width: 80%;
 }
 .add-workout-container{
  max-width: 80%;
 }
 .timer-controls .btn{
  padding: 5px 10px;
 }
}