/* This is the home page css */

.job-list {
    display: flex;
    flex-direction: column;
}

.job-entry {
    border: 2px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    
    display: flex;
    justify-content: space-between;
}

.info-link > a {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
}
.info-link > a:hover {
    background-color: lightgray;
}
.info-link > a > img {
    width: 100%;
    height: 100%;
}