
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #e4cf14de;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e4cf14de;
}

#login {
    display: block;
    margin-top: 25px;
    color: #e4cf14de;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
}

#login:hover {
    color: #e4cf14de;
}

#errorMessage {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="password"] {
        width: calc(100% - 10px);
        padding: 8px;
    }

    input[type="submit"] {
        padding: 8px 10px;
        font-size: 0.9rem;
    }

    label {
        font-size: 0.9rem;
    }

    #register {
        font-size: 0.9rem;
    }
}