
body {
    
    padding: 10px;
    margin: 0;
}
    
form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }
    
form label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    }
    
form textarea,form input[type="text"],form input[type="date"],form input[type="checkbox"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    }
    
#searchButton {
    width: 100%;
    padding: 10px;
    background-color: #f7dc6f;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    }
    
    #searchResult {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    }
    
    #searchResult th, #searchResult td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    }
    
    #searchResult th {
    background-color: #f2f2f2;
    text-align: left;
    }
    
    @media (min-width: 768px) {
    form label {
    width: calc(50% - 10px);
    margin-right: 10px;
    }
    
form textarea,form input[type="text"],form input[type="date"] {
   width: calc(50% - 10px);
    margin-right: 10px;
    }
    
#searchButton {
   width: calc(100% - 20px);}
    }