/* signin.css */


body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: black;
}

form {
    background-color: white;
    color: black;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


label {
    display: block;
    margin-top: 1rem;
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: purple;
    color: white;
    border: none;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
}


input[type="submit"]:hover {
    background-color: darkmagenta;
}


p {
    text-align: center;
}


p a {
    color: rgb(31, 168, 242);
    text-decoration: none;
}


p a:hover {
    text-decoration: underline;
}


/* Mobile */
@media only screen and (max-width: 480px) {
    form {
        max-width: 90%;
        padding: 1.5rem;
        margin: 1rem auto;
    }

    input[type="text"], input[type="password"] {
        padding: 0.75rem;
        font-size: 1rem;
    }

    input[type="submit"] {
        padding: 1rem;
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }

    p a {
        font-size: 1rem;
    }
}