* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
  }
  
  header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .container {
    display: flex;
             
    width: 100%;                
    max-width: 1000px;
    flex: 1;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .workout-nav {
    width: 30%;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 2px solid #ddd;
    overflow-y: auto;
    height: calc(100vh - 60px);
  }
  
  .workout-nav ul {
    list-style: none;
  }
  
  .workout-nav li {
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .workout-nav li:hover {
    background-color: #ccc;
  }
  
  .workout-instructions {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
  }
  .workout-instructions,.card {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
  }
  .instruction-group {
    display: none;
  }
  
  .instruction-group button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .instruction-group button:hover {
    background-color: #555;
  }
  
 

  footer {
    display: flex;
    background-color: #333;
    color: white;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footer-box {
    text-align: center;
    flex: 1;
    padding: 10px;
    cursor: pointer;
  }
  
  .footer-box:hover {
    background-color: #555;
  }

  .footer-box a {
    color: white;
    text-decoration: none;
  }
  
  .footer-box a:visited {
    color: #b8b8b8; /* Light grey for visited state */
  }
  @media only screen and (max-width: 767px) {
  html, body {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .container {
    display: flex;
    width: 100%;                
    max-width: 1000px; /* Ensure this matches header and footer */
    flex: 1;
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Add padding for better spacing */
    overflow: hidden; /* You can keep this if you want to hide overflow */
  }
}

  /* Media query for tablets */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    html, body {
      margin-left: 3%;
      margin-right: 3%;
    }
  }

  /* Media query for larger screens */
  @media only screen and (min-width: 1025px) {
    html, body {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
