@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

main {
    height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: Source Code Pro, sans-serif;
    background-color: rgb(235, 198, 235);
}

nav {
    width: 100vw;
    background-color: black;
    padding: 1em;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    color: white;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* HOME CSS */
.website-title {
    margin-left: 5%;
    font-size: 7rem;
    font-family: Oswald;
    line-height: 100%;
    display: inline-block;
    position: relative;
    margin-top: 0;
}

.record {
    width: 60%;
    position: absolute;
    top: 25%;
    left: 90%; 
    transform: translateX(-50%); 
    overflow: hidden;
}

.record img {
    width: 100%;
    animation: rotate 5s linear infinite;
    overflow: hidden;
}

.record-player {
    width: 80%;
    position: absolute;
    top: 55%;
    right: 50%;
}

.subtitle {
    margin-top: 7%;
    max-width: 50vw;
    font-size: 2vh;
    margin-right: 5%;
    margin-left: auto;
    align-self: right;
    text-align: right;
}

footer {
    text-align: center;
    font-size: 1vh;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* SEARCH CSS */
.search-container {
    height: 20vh;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.search-form {
    border: none;
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
}
  
.search-input {
    padding: 10px;
    width: 100vw;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}
  
.search-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1000;
}
  
.search-button:hover {
    background-color: #868686;
}

.suggestions {
    max-height: 200px;
    overflow-y: auto;
    background: white;
    width: 50vw;
    display: none;
    position: absolute;
    margin-top: 11%;
    left: 10vw;
    border-radius: 2px solid black;
}

.suggestion-item {
    padding: 8px; 
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* LOGIN CSS */
.login-container {
    justify-content: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px; 
    margin-top: 5px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ebc6eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(0, 0, 0);
}

.error-message {
    color: #d9534f;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.register-link {
    margin: 10px;
}

.register-link a {
    text-decoration: none;
    margin-top: 15px;
    color: #000000;
    text-align: center;
}

.register-button {
    background-color: transparent;
    border: none;
    color: #6c63ff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.register-button:hover {
    color: #5751d9;
}
