* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #fffbfa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: auto;
}

@media screen and (max-width:480px) {
    body {
        min-width: 100%;
        margin: 0;
    }
}

.textarea {
    box-sizing: border-box;
    width: 100%;
}

a, p, li, label {
    color: #111111;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    background-color: #fffbfa;
    top: 0;
    z-index: 10;
    padding: 16px 24px;
    border-bottom: 1px solid #d9d7d7;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 12px;
        font-weight: 500;
    }
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #ea3713;
}

footer {
    padding: 16px 24px;
    border-top: 1px solid #d9d7d7;
}

.wrapper {
    margin: 16px 24px 24px;
    min-height: 100%;
    flex: 1;
}

.reviews {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.review {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.review-details p:last-child {
    color: #888888;
}

.icon-buttons {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: none;
}

.icon-button {
    background-color: transparent;
    border: none;
}

.icon-button:hover {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.labeled-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #b0b0b0;
}

button, input[type=submit] {
    background-color: #ea3713;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
}

input[type=reset] {
    background-color: white;
    border: none;
    color: #111111;
    font-size: 16px;
    font-weight: 500;
    height: 36px;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover {
    cursor: pointer;
}