* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

.workout-nav {
  width: 30%;
  background-color: #f4f4f4;
  border-right: 2px solid #ddd;
  position: relative;
  overflow-y: auto;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 85vh;
}

.workout-nav ul {
  padding-left: 0;
  list-style: none;
}

.workout-nav li {
  padding: 15px;
  background-color: #bbb9b991;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative; /* Set relative to manage submenus within this container */
}

/* Style for category buttons */
.category-button {
  background-color: #bbb9b991;
  border: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.category-button:hover {
  background-color: #ccc;
}

/* Style for equipment menu */
.equipment-menu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 5px;
  display: none; /* Hidden by default */
}

/* Style for equipment buttons */
.equipment-button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.equipment-button:hover {
  background-color: #eee;
}

.workout-nav li:hover {
  background-color: #ccc;
}

.equipment-menu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 5px;
  display: none; /* Initially hidden */
}

.equipment-menu li {
  cursor: pointer;
}

.workout-instructions {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 0; /* Ensure it's below the sub-menu */
}

.card {
  width: 18rem;
  padding: 10px;
  margin-top: 10px;
}

.instruction-group {
  display: none;
}

.instruction-group button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.instruction-group button:hover {
  background-color: #555;
}

.hidden {
  display: none;
}

.footer-box {
  text-align: center;
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.footer-box:hover {
  background-color: #555;
}

.footer-box a {
  color: white;
  text-decoration: none;
}

.footer-box a:visited {
  color: #b8b8b8; /* Light grey for visited state */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #333;
  color: white;
  justify-content: space-evenly;
  padding: 0px;
}

/* Mobile Devices */
@media only screen and (max-width: 767px) {
  html, body {
      margin-left: 2%;
      margin-right: 2%;
  }

  .container {
      display: flex;
      width: 100%;
      flex: 1;
      margin: 0 auto;
      padding: 10px;
      flex-direction: column;
  }

  .workout-nav {
      width: 100%;
  }

  .workout-instructions {
      width: 100%;
      margin-top: 20px;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html, body {
      margin-left: 3%;
      margin-right: 3%;
  }

  .workout-nav {
      width: 45%;
  }

  .workout-instructions {
      width: 55%;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1025px) {
  html, body {
      margin-left: 5%;
      margin-right: 5%;
  }
}
