.page {
  display: flex;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;       
  flex-direction: column;  
  margin: 0;
}
.search-button {
  margin-bottom: 10px;
}
.button {
    font-size:15px;
    font-family:Arial;
    border-width:1px;
    color:#fff;
    border-color:#CDC1FF;
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    background:#CDC1FF;
    padding: 10px 20px;
    text-decoration: none;
  }