body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    margin: 0 auto;
    background: linear-gradient(to right, #e7d7f9, #b9d1f9); 
    color: black; 
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

.login-register {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 10px;
}

.login-register a {
    text-decoration: none;
    margin: 0 10px;
}

.login-register button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-register button:hover {
    background-color: #046edf;
}

/* IMPORTANT NOTE: we generated a free logo for our application on https://www.design.com/logo-maker
 */

.logo {
    width: 200px;
}

.logoelsewhere {
    width: 120px;
    height: auto;
}

#login-button, #register-button {
    align-self: center; 
    margin-top: 20px; 
    padding: 12px 48px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007AFF;
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block
}

.center-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 18px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter {
    display: flex;
}

.search-filter input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    white-space: nowrap; 
}

details {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

summary {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    color: #0056b3;
}

details div {
    margin-top: 10px;
}

button {
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007AFF;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.button-group {
    display: flex;          
    justify-content: center; 
    gap: 20px;
}

button:hover {
    background-color: #046edf;
}

#rsvp-buttons {
    display: flex;
    gap: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.attendees-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: -20px;
}

.attendees-list li {
    padding: 5px 5px;
    margin-bottom: -5px;
    border-radius: 5px;
    font-size: 14px; 
    color: #333; 
}

.attendees-list li:last-child {
    margin-bottom: 20px; 
}

.event-item {
    margin-bottom: 20px;
}