@font-face {
    font-family: 'poppins';
    src: url('/static/Poppins-Regular.ttf');
}

body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    color: #3a383d;
    background: linear-gradient(to bottom, #F5DEED, #9288D0);
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

.container {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    padding: 30px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

label {
    font-size: 15px;
}
button {
    width: 80%;
    padding: 15px;
    background-color:white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    border: 1px solid #f0f0f0;
    outline: 2px solid rgba(146, 136, 208, 0.2);
}

button:hover {
    opacity: 70%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

button:active {
    transform: translateY(0px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

button span {
    display: inline-block;
    transition: transform 0.3s ease;
}

button:hover span {
    transform: scale(1.1);
}

a {
    color: #3a383d;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 30%;
}

form {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-style: none;
    border-radius: 15px;
}

input {
    border-style: none;
    border-radius: 5px;
    background-color: #F5DEED;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    font-size: 15px;
}

input:focus {
    outline: #9288D0;
}

::placeholder {
    font-family: 'poppins';
    font-size: 15px;
    color: #3a383d;
}

span {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

input[type="submit"] {
    background-color:#9288D0;
    color: white;
    width: 60%;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 30px;
}

input[type="submit"]:hover {
    opacity: 70%;
}

.sessions {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #f0f0f0;
    outline: 2px solid rgba(146, 136, 208, 0.2);
    border-radius: 15px;
    width: 95%;
    margin: 5px;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
    backdrop-filter: blur(8px);
    overflow: hidden; 
}

.sessions::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px; 
    background: linear-gradient(to bottom, rgba(245, 222, 237, 0.4), rgba(146, 136, 208, 0.4));
    z-index: -1; 
}

.sessions:hover {
    opacity: 70%;
}

p {
    font-size: 12px;
    margin: 5px 0px 0px 15px;
    line-height: 1;
    color: #4a4a4a;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #3a383d;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #3a383d;
    padding-bottom: 5px;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.session-container, .focus-container {
    width: 95%;
    padding: 20px;
    height:fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 15px;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F5DEED;
    overflow: hidden;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 200px, 200px, 100px); 
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9288D0;
    clip: rect(0px, 100px, 200px, 0px); 
    transform: rotate(0deg); 
    transition: transform 1s linear; 
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #3a383d;
}

.congratsscreen {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    color: #3a383d;
    background: linear-gradient(to bottom, #F5DEED, #9288D0);
    display: flex;
    flex-direction: column;
    background-attachment: fixed;

   
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    margin: 0; 
    
}

.congrats {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px; 
} 

.header {
    color: #3a383d;
    font-size: 3rem; 
    font-weight: bold;
}

.image {
    max-width: 300px; 
    width: 100%; 
    height: auto;
}

.session-info {
    font-size: 1.5rem;
    margin-top: 20px;
}

.home-button {
        width: 80%;
        padding: 15px;
        background-color:white;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
        margin: 20px;
        border: 1px solid #f0f0f0;
        outline: 2px solid rgba(146, 136, 208, 0.2);
    
    

}

.home-button:hover {
    opacity: 70%;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
}

#search-form {
    background: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#search {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.7);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#search-button {
    width: 15%;
    margin: 0px;
    border-style: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #F5DEED;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    font-size: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018z"/><path d="M13 6.5a6.471 6.471 0 01-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1.007 1.007 0 01-.1-.115h.002A6.5 6.5 0 1113 6.5zM6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11z"/></svg>');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#delete-button {
    width: 15%;
    margin: 0px;
    border-style: none;
    border-radius: 5px;
    background-color: #F5DEED;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    font-size: 12px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1024 1024%22 fill=%22currentColor%22%3E%3Cpath d=%22M864 256H736v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zm-200 0H360v-72h304v72z%22/%3E%3C/svg%3E');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#delete-form {
    background: none;
    width: 100%;
}