body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

#login-page, #register-page, #create-event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

#login-button, #register-button {
    align-self: center; 
    margin-top: 20px; 
    padding: 12px 48px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007AFF;
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.welcome {
    font-size: 18px;
    margin-bottom: 20px;
}

.search-filter {
    margin-bottom: 20px;
}

.search-filter input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

details {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

summary {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    color: #0056b3;
}

details div {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007AFF;
    color: white;
    cursor: pointer;
}