<h2 style="text-align: center;">
    Enter Appliance Information
</h2>
<form method="POST" action="{{url_for('add_app')}}" style = "text-align: center;">
    <input type = "text" id = "bname" name = "bname" placeholder="Building Name" style="height: 2vh; width: 50vw;"/>
    <br />
    <input type = "number" id = "floor" name = "floor" placeholder = "Floor Number"style="height: 2vh; width: 50vw;" />
    <br />
    <input type = "text" id = "appName" name = "appName" placeholder="Appliance Name"style="height: 2vh; width: 50vw;"/>
    <br />
    <!--Maybe just have admins add codes manuually for now?-->
    <input type = "number" id = "code" name = "code" placeholder="Create Code"style="height: 2vh; width: 50vw; font: 2em sans-serif;"/>
    <br />
    <input type = "submit" value = "Create"style="height: 2vh; width: 50vw; font: 2em sans-serif;"/>
</form>