<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %} {% endblock %}
    <title>Bookstore App</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="headers">
                <a href="/home">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" id="logo">
                </a>
                <a href="/home" id="title">
                    <h1>Bookstore</h1>
                </a>
                <nav>
                    <ul id="navigation">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/logout">Log out</a></li> 
                        <li><a href="/logout">Add a book</a></li> 
                    </ul>
                </nav>
            </div>
        </header>
        <main>{% block container %} {% endblock %}</main>
        <footer>
            <p>&copy; 2024 Bookstore</p>
        </footer>
    </div>
</body>
</html>