<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='studybuns-logo.png') }}"/>
        <h1 class="header">Congratulations! 🐰</h1>
        <p class="session-info">Here are you session stats...</p>
        <ul class="session-info-list">
            <li>Focus Time: {{ focus_time }} minutes</li>
            <li>Subject: {{ subject }}</li>
            <li>Session Bunnies: {{ bunnies_collected }}</li>
            
        </ul>
        <img class="image" src="{{ url_for('static', filename='studybunny.png') }}" alt="Bunny Congrats Image"/>
        <button class="home-button">
            <a href="{{ url_for('session_form') }}">Start Another Session</a>
        </button>
          
    </div>
</body>
</html>
