<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class = "congratsscreen">
        <div class="congrats">
            <h1 class = "header">Congratulations!</h1>
        </div> 
        <p class="session-info">You've completed a session with:</p>
        <ul class="session-info">
            
            <li>Focus Time: {{ focus_time }} minutes</li>
            <li>Subject: {{ subject }}</li>
            <li>Total Focus Time: {{ totaltime }} minutes</li>
            <li>Bunnies Collected: {{ bunnies_collected }}</li>
            

        </ul>
    
        <img class = "image" src="{{ url_for('static', filename='images/BunnywHat.png') }}" alt="BunnyCongratsImage">
        <a href="{{ url_for('session_form') }}" class="home-button">Start Another Session</a> 
        <a href="{{ url_for('home_screen') }}" class="home-button">Home</a>   
    </div>
    
</body>
</html>
