<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/styles.css">
    <head>
        <title>Welcome!</title>
    </head>

    <body>
        <div id="wrap">
            <header>
                <h1>Delete a Recipe</h1>
                <nav>
                    <a href="index.html">Home</a>&nbsp;&nbsp;&nbsp;
                    <a href="view.html">View All Recipes</a>&nbsp;&nbsp;&nbsp;
                    <a href="search.html">Search Recipes</a>&nbsp;&nbsp;&nbsp;
                    <a href="add.html">Add a Recipe</a>&nbsp;&nbsp;&nbsp;
                    <a href="edit.html">Edit a Recipe</a>&nbsp;&nbsp;&nbsp;
                    <a href="delete.html"><b>Delete a Recipe</b></a>
                </nav>
            </header>
        </div>
    </body>
</html>