{% extends "base.html" %}
{% block title %}
Edit User Info
{% endblock %}
{% block styles %}
    {{ super() }} 
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .signup-container {
            display: flex;
            max-width: 90vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: #6CB873;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
            gap: 1rem;
        }
        .signup-container form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
        .signup-container h1 {
            margin-bottom: 20px;
            padding: 0.8rem 1.5rem;
            border: 6px solid #6CB873;
            border-radius: 1.6rem;
            flex-grow: 0;
            
        }
        .signup-container input {
            width: 90%;
            background-color: #858585;
            padding: 5%;
            border-radius: 10px;
            font-size: 14px;
        }
        .signup-container input::placeholder {
            color: #C0C0C0;
        }
        .signup-btn {
            background-color: #6CB873;
            font-weight: bold;
            color: black;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            margin-top: 10vh;
            padding: 1rem 0rem;
        }
        .sign-up:hover {
            background-color: #45a049;
        }
        .delete-btn {
            background-color: #ff4a4a;
            font-weight: bold;
            color: black;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            margin-top: 2vh;
            padding: 1rem 0rem;
        }
        .delete-btn:hover {
            background-color: #d73e3e;
        }
        .back-btn {
            background-color: transparent;
            color: #6CB873;
            border: 2px solid #6CB873;
            font-weight: bold;
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            margin-top: 10px;
        }
        .back-btn:hover {
            background-color: #6CB873;
            color: black;
        }
        .flash-message {
            color: red;
            background-color: #f8d7da;
            padding: 10px;
            border-radius: 5px;
            width: 90%;
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="signup-container">
    <h2>Confirm Deletion of Your Account by Filling in Account Credentials</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                {{ messages[0] }} 
            </div>
        {% endif %}
    {% endwith %}

    <form action="/delete-acct" method="POST">
        <input type="email" id="username" name="username" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit" class="delete-btn">Delete Account</button>
    </form>
    

    <button onclick="goBack()" class="back-btn">Cancel</button>
</div>

<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock %}