{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Edit Entry</h1>
    <form method="POST">
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" value="{{ entry.title }}"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" required>{{ entry.content }}</textarea><br>
        <input type="submit" value="Update Entry">
    </form>
    <a href="{{ url_for('home') }}">Cancel</a>
{% endblock %}