{% extends 'base.html' %}
{% block container %}
<form class="form" action="{{ url_for('edit', post_id=restaurant._id) }}" method="post" onsubmit="submitForm(event)">
    <div class="labeled-input">
        <label>Restaurant Name</label>
        <input type="text" id="restaurantName" name="restaurantName" value="{{ restaurant.restaurantName }}" placeholder="Restaurant Name">
    </div>
    <div class="labeled-input">
        <label>Cuisine Type</label>
        <select class="textarea" id="cuisine" name="cuisine" placeholder="Cuisine Type">
            <option disabled>Select cuisine type...</option>
            <option value="African" {% if restaurant.cuisine == 'African' %}selected{% endif %}>African</option>
            <option value="American" {% if restaurant.cuisine == 'American' %}selected{% endif %}>American</option>
            <option value="Caribbean" {% if restaurant.cuisine == 'Caribbean' %}selected{% endif %}>Caribbean</option>
            <option value="Chinese" {% if restaurant.cuisine == 'Chinese' %}selected{% endif %}>Chinese</option>
            <option value="Cuban" {% if restaurant.cuisine == 'Cuban' %}selected{% endif %}>Cuban</option>
            <option value="French" {% if restaurant.cuisine == 'French' %}selected{% endif %}>French</option>
            <option value="Greek" {% if restaurant.cuisine == 'Greek' %}selected{% endif %}>Greek</option>
            <option value="Indian" {% if restaurant.cuisine == 'Indian' %}selected{% endif %}>Indian</option>
            <option value="Italian" {% if restaurant.cuisine == 'Italian' %}selected{% endif %}>Italian</option>
            <option value="Japanese" {% if restaurant.cuisine == 'Japanese' %}selected{% endif %}>Japanese</option>
            <option value="Korean" {% if restaurant.cuisine == 'Korean' %}selected{% endif %}>Korean</option>
            <option value="Mexican" {% if restaurant.cuisine == 'Mexican' %}selected{% endif %}>Mexican</option>
            <option value="Middle Eastern" {% if restaurant.cuisine == 'Middle Eastern' %}selected{% endif %}>Middle Eastern</option>
            <option value="Spanish" {% if restaurant.cuisine == 'Spanish' %}selected{% endif %}>Spanish</option>
            <option value="Thai" {% if restaurant.cuisine == 'Thai' %}selected{% endif %}>Thai</option>
            <option value="Vietnamese" {% if restaurant.cuisine == 'Vietnamese' %}selected{% endif %}>Vietnamese</option>
            <option value="Other" {% if restaurant.cuisine == 'Other' %}selected{% endif %}>Other</option>
        </select>
    </div>
    <div class="labeled-input">
        <label>Location</label>
        <select class="textarea" id="location" name="location" placeholder="Location">
            <option disabled>Select location...</option>
            <option value="Alphabet City" {% if restaurant.location == 'Alphabet City' %}selected{% endif %}>Alphabet City</option>
            <option value="Midtown" {% if restaurant.location == 'Midtown' %}selected{% endif %}>Midtown</option>
            <option value="Hell's Kitchen" {% if restaurant.location == "Hell's Kitchen" %}selected{% endif %}>Hell's Kitchen</option>
            <option value="Chelsea" {% if restaurant.location == 'Chelsea' %}selected{% endif %}>Chelsea</option>
            <option value="West Village" {% if restaurant.location == 'West Village' %}selected{% endif %}>West Village</option>
            <option value="East Village" {% if restaurant.location == 'East Village' %}selected{% endif %}>East Village</option>
            <option value="SoHo" {% if restaurant.location == 'SoHo' %}selected{% endif %}>SoHo</option>
            <option value="Tribeca" {% if restaurant.location == 'Tribeca' %}selected{% endif %}>Tribeca</option>
            <option value="Chinatown" {% if restaurant.location == 'Chinatown' %}selected{% endif %}>Chinatown</option>
            <option value="Kips Bay" {% if restaurant.location == 'Kips Bay' %}selected{% endif %}>Kips Bay</option>
            <option value="Midtown South" {% if restaurant.location == 'Midtown South' %}selected{% endif %}>Midtown South</option>
            <option value="Upper East Side" {% if restaurant.location == 'Upper East Side' %}selected{% endif %}>Upper East Side</option>
            <option value="Upper West Side" {% if restaurant.location == 'Upper West Side' %}selected{% endif %}>Upper West Side</option>
            <option value="Garment District" {% if restaurant.location == 'Garment District' %}selected{% endif %}>Garment District</option>
            <option value="Bowery" {% if restaurant.location == 'Bowery' %}selected{% endif %}>Bowery</option>
            <option value="Murray Hill" {% if restaurant.location == 'Murray Hill' %}selected{% endif %}>Murray Hill</option>
            <option value="Lincoln Square" {% if restaurant.location == 'Lincoln Square' %}selected{% endif %}>Lincoln Square</option>
            <option value="Financial District" {% if restaurant.location == 'Financial District' %}selected{% endif %}>Financial District</option>
            <option value="Lower East Side" {% if restaurant.location == 'Lower East Side' %}selected{% endif %}>Lower East Side</option>
            <option value="Turtle Bay" {% if restaurant.location == 'Turtle Bay' %}selected{% endif %}>Turtle Bay</option>
            <option value="Clinton" {% if restaurant.location == 'Clinton' %}selected{% endif %}>Clinton</option>
            <option value="Harlem/Morningside Heights/Hamilton Heights/Washington Heights" {% if restaurant.location == 'Harlem/Morningside Heights/Hamilton Heights/Washington Heights' %}selected{% endif %}>Harlem/Morningside Heights/Hamilton Heights/Washington Heights</option>
            <option value="Other" {% if restaurant.location == 'Other' %}selected{% endif %}>Other</option>
        </select>
    </div>
    <div class="labeled-input">
        <label>Review/Comments</label>
        <textarea id="review" name="review" cols="50" rows="10" placeholder="Review/Comments">{{ restaurant.review }}</textarea>
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}