{% extends 'base.html' %}

{% block container %}
    <h1>Welcome!</h1> 
    <h3>My Inventory</h3>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>
                    {{#each phoneNumbers}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}