<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker - Home</title>
    <!-- Linking external stylesheet- need to work with flask change to work with flasj later -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav id="desktop-nav">
        <div>
            <ul class="nav-links">
                <li><a href="/transactions">Transactions</a></li>
                <li><a href="/add">Add Transaction</a></li>
                <li><a href="/edit">Edit Transaction</a></li>
                <li><a href="/search">Search Transactions</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Personal Budget Tracker</h1>
        <h2>Financial Overview</h2>
        <div class="summary">
            <div class="budget">
                <h3>Balance: ${{ budget }}</h3>
            </div>
            <p>Spending Budget for the Month: ${{ budget }}</p>
            <p>Spending Budget Left for the Month: ${{ budget_left }}</p>
        </div>
    </div>
</body>
</html>
