<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker - Home</title>
    <!-- Linking external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/transactions">Transactions</a></li>
            <li><a href="/add">Add Transaction</a></li>
            <li><a href="/edit">Edit Transaction</a></li>
            <li><a href="/search">Search Transactions</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Personal Budget Tracker</h1>
        <h2>Financial Overview</h2>
        <div class="summary">
            <h3>Balance: $50500505</h3> 
            
            <p>Spending Budget for the Month: ${ budget }</p>
            <p>Spending Budget Left for the Month: ${ budget_left }</p>
        </div>
    </div>
</body>
</html>