<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="page-layout">
        <h1>Your Events</h1>

        {% if events %}
            <ul>
            {% for event in events %}
                <li>
                    <h2>{{ event.title }}</h2>
                    <p>{{ event.description }}</p>
                    <p>Date: {{ event.date }}</p>
                    <p>Location: {{ event.location }}</p>

                    <h4>Attendees:</h4>
                    <ul class="attendees-list">
                        {% if event.attendees_usernames %}
                            {% for attendee in event.attendees_usernames %}
                                <li>{{ attendee }}</li> 
                            {% endfor %}
                        {% else %}
                            <li>No attendees yet.</li>
                        {% endif %}
                    </ul>
                    <p>Number of Attendees: {{ event.attendee_count }}</p>

                    

                    <div class="button-container">
                        <a href="{{ url_for('edit_event', event_id=event._id) }}">
                            <button>Edit Event</button>
                        </a>
                        <form action="{{ url_for('delete_event', event_id=event._id) }}" method="POST" style="display:inline;">
                            <button type="submit">Delete Event</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No events created yet.</p>
        {% endif %}

        <a href="{{ url_for('home_feed') }}"><button>Back to Home Feed</button></a>
    </div> 
</body>
</html>
