{% extends "base.html" %}

{% block title %}Info Page{% endblock %}

{% block header %}
    <h1>Specific Information</h1>
    {% include "components/back-link.html" %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block content %}
    <main>
        <p>Job Title: {{doc.job_title}}</p>
        <p>Company: {{doc.company}}</p>
        <p>Location: {{doc.location}}</p>
        <p>Link: {{doc.link}}</p>
        <p>Stage: {{doc.stage}}</p>
        <p>Time/DDL: {{doc.time}}</p>
    </main>
    <footer>
        <nav>
            <a href="{{url_for('edit',record_id=doc._id,return_to=return_to)}}">Edit</a> | <a href="{{url_for('delete',record_id=doc._id,return_to=return_to)}}">Delete</a>
        </nav>
    </footer>
{% endblock %}