<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alex.css') }}">
</head>
<body>
    <div class="exercise-instruct-container">
        <header class="header-container">
            <h1 class="instruction-title">Instruction</h1>
            <!-- <input type="text" placeholder="Search Exercises" class="search-box"> -->
        </header>

        <div class="exercise-image">
            <img src="images/exercise-image.jpg" alt="Exercise Illustration">
        </div>

        <section class="exercise-description">
            <p style="text-align: center;"><strong>[Exercise Name]</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad.
            </p>  
        </section>

        <div class="exercise-instruct">
            <p><Strong>Instruction:</Strong></p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad.
            </p>
        </div>

        <div>
            <button class="back-btn">Back</button>
        </div>

        <footer>
            <p>All rights reserved. <a href="#">Privacy policy</a></p>
        </footer>
    </div>
</body>
</html>

