<!DOCTYPE html>
<html>

<head>
    <title>NYU Maintenance Request Portal</title>
    <!-- Common styles for both admin and user -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    {% if is_admin %}
    <!-- Admin-specific styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-admin.css') }}">
    {% else %}
    <!-- User-specific styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-user.css') }}">
    {% endif %}
</head>

<body>
    <div class="navBar">
        <div>
            <a class="logo" href="/">NYU Maintenance Request Portal</a>
        </div>
        <div class="navLinks">
            <a class="link" href="/">User Home</a>
            <a class="link" href="/admin">Admin Home</a>
            <a class="link" href="/request">New Request</a>
            <a class="link" href="/track">Track A Request</a>
            <a class="link" href="/list">Requests</a>
            <a class="link" href="/request">Request Maintenance</a>
            <a class="link" href="{{url_for('new_app', update = 0)}}">Add Appliance</a>
            <a class="link" href="{{url_for('delete_app')}}">Remove Appliance</a>
            <a class="link" href="/request">Make A Request</a>
            <a class="link" href="/login">Login</a>
        </div>
    </div>

    {% block body %}
    {% endblock %}
</body>

</html>
