<!DOCTYPE html>
<html>
 
<head>
    <title>NYU Maintenance Request Portal</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
 
<body>
    <div class="navBar">
        <div>
        <h1>NYU Maintenance Request Portal</h1>
        </div>
        <div class="navLinks">
            <a class="link" href="/login">Login</a>
            <a class="link" href="/list">Requests</a>
            <a class="link" href="/request">Request Maintenance</a>
            <a class="link" href="{{url_for('add_app')}}">Add Appliance</a>
        </div>
        {% block homelink %}{% endblock %}
    </div>

{% block body %}

{% endblock %}

</body>
 
</html>