<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  </head>
  <body>
    <div class="container">
      <img src="{{ url_for('static', filename='studybuns-logo.png') }}"/>
      <form method="POST" action="{{ url_for('login')}}">
        <h1>Login</h1>
        <span>
          <label>Username</label>
          <input type="text" name="username" required placeholder="Enter your username..."/>
        </span>
        <span>
          <label>Password</label>
          <input type="password" name="password" prequired placeholder="Enter your password..."/>
        </span>
        <input type="submit" value="Login"/>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
      <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.</p>
    </div>
  </body>
</html>