<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="e.g. myUsername" id="username" minlength="6" required>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="e.g. 12345678" id="password" minlength="8" required>
            <p id="errorMessage" style="color: red;"> {{ message }} </p>
            <div class="button-container">
                <input type="submit" value="Log In" id="login">
                <a href="/register" id="register">Register</a>
            </div>
        </form>


    </body>
</html>