{% extends 'base.html' %}{% block container %}
<body>
  <div class="main-content">
    <div class="section-title">YOUR WORKSPACES</div>

    <div class="section-title">As a manager...</div>
    {% if docs_as_manager is defined %}
      {% for doc in docs_as_manager %}
      <li><a href="{{ url_for('home') }}">{{ doc.projectName }}</a></li>
      {% endfor %}
    {% else %}
      <p>No projects. Try adding some!</p>
    {% endif %}

    <div class="section-title">As a member...</div>
    {% if docs_as_member is defined %}
      {% for doc in docs_as_member %}
      <li><a href="{{ url_for('home') }}">{{ doc.projectName }}</a></li>
      {% endfor %}
    {% else %}
      <p>No projects. Try adding some!</p>
    {% endif %}
    <form action="/create_project", method="GET">
      <button type="submit">Create new project</button>
    </form>
  </div>

</body>
{% endblock %}
