{% extends "base.html" %}
{% block title %}
News Content
{% endblock %}
{% block styles %}
    {{ super() }} 
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            color: white;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .news-content {
            margin: 3vw 3vw;
        }

        .news-content h2 {
            color: #6CB873;
            line-height: 1.8rem;
        }

        .news-content img{
            max-width: 94vw;
            border-radius: 0.8rem;
        }

    </style>
{% endblock %}
{% block content %}
    {%if data%}
        <div class="news-content">
            <h2>{{data.title}}</h2>
            <img src={{data.topImage}} alt={{data.title}}/>
            <p>By {{data.author}}</p>
            <p id="content"></p>
        </div>
    {% endif %}
{% endblock %}