{% extends "layout.html" %}

{% block homelink %}
<a href="/">Home</a>
{% endblock %}

{% block body %}
    {% if success %}
        <h1>Request successful</h1>
    {% endif %}

    {% if applianceInfo is none %}
    <form method="GET" action="/request">
        <input type="text" pattern="^[0-9]{4}$" name="code" placeholder="Appliance Code">
        <input type="submit" value="search">
    </form>
    {% endif %}

    {% if applianceInfo is not none %} <!-- If code is found, display help form -->
        <h3>{{applianceInfo.applianceName}}</h3>
        <p>Building:{{applianceInfo.building}}</p>
        <p>Floor:{{applianceInfo.floor}}</p>

        <form method="POST" action="/request">
            <input type="hidden" name="code" value={{applianceInfo.code}}>
            <input type="text" name="fullName" placeholder="Enter Full Name">
            <br>
            <input type="text" pattern="^[a-zA-Z0-9._]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$" name="email" placeholder="Email">
            <br>
            <input type="text" name="subject" placeholder="Subject Line">
            <input type="text" name="description" placeholder="Describe the issue">
            <input type="submit" value="Submit Request">
        </form>
    {% endif %}
{% endblock %}