{% extends 'base.html' %}
{% block container %}
<form action="{{ url_for('search') }}" method="get" onsubmit="submitForm(event)">
    <table width="100%" border="1">
        <tbody>
            <tr>
                <td colspan="2"><b>Enter all applicable information</b></td>
            </tr>
            <tr>
                <td>Restaurant Name</td>
                <td>
                    <input class="textarea" type="text" placeholder="Search by restaurant..." name="resName">
                </td>
            </tr>
            <tr>
                <td>Cuisine Type</td>
                <td>
                    <input class="textarea" type="text" placeholder="Search by cuisine type..." name="resCuisine">
                </td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>
                    <input class="textarea" type="text" placeholder="Search for reviews by a certain user..." name="resUser">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="submit" value="Search">
                    <input type="reset" value="Clear">
                </td>
            </tr>
        </tbody>
    </table>
</form>
{%if request.args%}
    {%if restaurants%}
        <h3>Results:</h3>
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Restaurant Name</th>
                    <th>Cuisine Type</th>
                    <th>Review User</th>
                </tr>
            </thead>
            <tbody>
                {%for restaurant in restaurants%}
                <tr>
                    <td>{{restaurant.restauranName}}</td>
                    <td>{{restaurant.cuisine}}</td>
                    <td>{{restaurant.userName}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <br>
    {%else%}
        <p>No restaurants found.</p>
    {%endif%}
{%endif%}
{%if not request.args%} <!-- for the initial load otherwise it will show a search with all the values -->
    <p></p>
{%endif%}
{%endblock%}