{% extends "layout.html" %}

{% block body %}

<div class="track-request">
    <div class="track-request-left">
        <div class="code-box">
            <h2>Track a Request!</h2>
            <form method="GET" action="/track">
            <input type="text" pattern="^[0-9]{4}$" name="code" placeholder="Appliance/Request Code">
            <input type="submit" value="search">
            </form>
        </div>
        
        {% if requestInfo is not none %}
            {% for request in requestInfo %}
                <div class="request-row">
                    <h1>{{request.subject}}</h1>
                    <p>Filed on: {{request.date}}</p>
                    <p>By: {{request.fullName}} ({{request.email}})</p>
                    <p>Description: {{request.description}}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if applianceInfo is not none %}
    <div class="track-request-right">
        <h6>APPLIANCE/ROOM</h6>
        <h1>{{applianceInfo.applianceName}} ({{applianceInfo.code}})</h>
        <h5>Building: {{applianceInfo.building}}</h5>
        <h5>Floor: {{applianceInfo.floor}}<h5>
    </div>
    {% endif %}
</div>


{% endblock %}