{% extends "layout.html" %}

{% block homelink %}
<a href="/">Home</a>
{% endblock %}

{% block body %}
<div class="code-box">
    <h2>Track a Request!</h2>
    <form method="GET" action="/track">
    <input type="text" pattern="^[0-9]{4}$" name="code" placeholder="Appliance/Request Code">
    <input type="submit" value="search">
</div>

</form>
    {% if requestInfo is not none %}
        {% for request in requestInfo %}
            <h3>{{request.subject}}</h3>
            <p>Filed on: {{request.date}}</p>
            <p>By: {{request.fullName}} ({{request.email}})</p>
            <p>Description: {{request.description}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}