<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header class="header">
        <i class="bx bx-menu" id="menu-icon"></i>
        <ul class="nav-links">
            <li><a href="{{ url_for('account') }}">Account</a></li> 
            <li><a href="{{ url_for('view_transactions') }}">Transactions</a></li>
            <li><a href="{{ url_for('add_transaction') }}">Add Transaction</a></li>
            <li><a href="{{ url_for('search_and_edit_transaction') }}">Edit Transaction</a></li>
            <li><a href="{{ url_for('search_transactions') }}">Search Transactions</a></li>
        </ul>
</header>
    
    <div class="container">
        <h1>Transactions</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>${{ transaction.amount }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>
                        <a href="/edit/{{ transaction._id }}" class="button">Edit</a>
                        <form action="/delete/{{ transaction._id }}" method="POST" style="display:inline;">
                            <button type="submit" class="button">Delete</button>
                        </form>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  <!-- back to home page button -->
    <div class="button-group">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('index') }}';">Back to Home</button>
    
    </div>
</body>
</html>
