<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/styles.css">
    <head>
        <title>Welcome!</title>
    </head>

    <body>
        <div id="wrap">
            <header>
                <h1>Recipes</h1>
                <nav>
                    <a href="add.html">Add a Recipe</a>
                    <a href="search.html">Search Recipes</a>
                    <a href="delete.html">Delete a Recipe</a>
                    <a href="edit.html">Edit a Recipe</a>
                    <a href="index.html">Home</a>
                    <a href="view.html"><b>View Recipes</b></a>
                </nav>
            </header>
        </div>
    </body>
</html>