<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Welcome!</title>
</head>
<body>
    <div id="wrap">
        <header>
            <h1>Recipes</h1>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>&nbsp;&nbsp;
                <a href="{{ url_for('view') }}"><b>View all Recipes</b></a>&nbsp;&nbsp;
                <a href="{{ url_for('search') }}">Search Recipes</a>&nbsp;&nbsp;
                <a href="{{ url_for('add') }}">Add a Recipe</a>&nbsp;&nbsp;
                <a href="{{ url_for('edit') }}">Edit a Recipe</a>&nbsp;&nbsp;
                <a href="{{ url_for('delete') }}">Delete a Recipe</a>
            </nav>
        </header>

        <main>
            <h1>All Recipes</h1>
            <table border="1">
                <tr>
                    <th>Author Name</th>
                    <th>Recipe Title</th>
                    <th>Servings</th>
                    <th>Time</th>
                </tr>
                {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.authorName }}</td>
                    <td>{{ recipe.recipeTitle }}</td>
                    <td>{{ recipe.servings }}</td>
                    <td>{{ recipe.time }}</td>
                    <td>{{ recipe.ingredients }}</td>
                    <td>{{ recipe.instructions }}</td>
                </tr>
                {% endfor %}
            </table>
        </main>
    </div>
</body>
</html>
